.app-title{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.75rem;
}

.handwriting-title{
    color: #000;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 800;
    font-size: 1.75rem;
}